{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock %}

{% block page %}
{#<i class="fa-solid fa-clapperboard"></i>#}

    <div class="card" style="width: 26rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>
        </form>
      </div>
    </div>
{% endblock %}