{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Film form{% endblock %}

{% block page %}
    <div class="card" style="width: 32rem; float: left; margin-right: 1rem;">
      <div class="card-body">
       {% if nowy %}
                <h5 class="card-title">New film</h5>
           {% else %}
                <h5 class="card-title">Edit film</h5>
           {% endif %}

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        {{ form_additional|bootstrap }}
           {% if nowy %}
                <button type="submit" class="btn btn-primary">New film</button>
           {% else %}
                <button type="submit" class="btn btn-primary">Edit film</button>
           {% endif %}
    </form>
      </div>
    </div>
    {% for rating in ratings %}
        <h4>Stars: {{ rating.stars }}</h4>
        <p>{{ rating.review }}</p>
    {% endfor %}


    <a href="{% url 'all_movies' %}">Back</a>
{% endblock %}