{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Film form{% endblock %}

{% block page %}
    <div class="card" style="width: 32rem;">
      <div class="card-body">
       {% if new %}
                <h5 class="card-title">New film</h5>
           {% else %}
                <h5 class="card-title">Edit film</h5>
           {% endif %}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
           {% if new %}
                <button type="submit" class="btn btn-primary">New film</button>
           {% else %}
                <button type="submit" class="btn btn-primary">Edit film</button>
           {% endif %}
    </form>
      </div>
    </div>


    <a href="{% url 'all_movies' %}">Back</a>
{% endblock %}